# This is the network config written by 'subiquity'
network:
  ethernets:
    enp1s0:
      # the internet interface, connects to the pppoe modem
      dhcp4: false
      addresses:
        - 192.168.1.5/24
      routes:
        - to: default
          via: 192.168.1.1
          on-link: true
    enp2s0:
      # the home WAN interface, owns 192.168.3.0/24.
      dhcp4: false
      addresses:
        - 192.168.3.254/24
    enp3s0:
      # the home LAN interface, owns 192.168.4.0/24
      dhcp4: false
      addresses:
        - 192.168.4.254/24 
    enp4s0:
      optional: true
      dhcp4: false
    enp5s0:
      optional: true
      dhcp4: false
    enp6s0:
      optional: true
      dhcp4: false
  version: 2
