#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

# This is a customized systemd startup script
# To start shadowsocks local SOCKS5 proxy using trojan
# (https://trojan-gfw.github.io/trojan/)

[Unit]
Description=Trojan local client (nat)
Documentation=https://trojan-gfw.github.io/trojan/
DefaultDependencies=no
Conflicts=shutdown.target
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service
Before=network-online.target shutdown.target

[Service]
Type=exec
ExecStart=/bin/sh -c '/home/nanabear/trojan/trojan -l /var/log/trojan.log -c /home/nanabear/trojan/config.json'

[Install]
WantedBy=network-online.target

